.feed-container{
    padding: 10px 0;
    display: flex;
    gap: 30px;
    margin-top: 50px;

    /* min-width: 92vh; */
    

    
}
.left{
    /* background: pink; */
    position: sticky;
    top: 10vh;
    left: 0px;
    /* bottom: 20vh; */
    height: 88vh;
    border-right: 1px solid rgb(255, 255, 255);
    
}
.right{
    /* background: orange; */
    /* flex: 1;  */
    
}

h4{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;
   
}
.copyright{
    color: #fff;
    /* position: fixed; */
    margin-top: 50px;
    

}
