.channel-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.card-content{
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
  width: 100px;
  border-radius: 20px;
}

h5{
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
}