.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    margin-right: 20px;
    
}

.sidebar-item{
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    background-color: inherit;
    color: #fff;
    width: 120px;
    text-align: start;
}
@media screen and (max-width: 950px) {
   .sidebar-item{
    width: 30px;
   }
}

.category-name{
    margin-left: 10px;
}

 
@media screen and (max-width: 950px) {
    .category-name{
        display: none;
    }
}
