.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
    
}
.sidebar-item{
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    background-color: inherit;
    color: #fff;
    width: 120px;
    text-align: start;


    

}
.sidebar-item:hover {
   background-color: blue;
    

}
.span-name{
    margin-right: 10px;
}

